@page
@model IndexModel
@{
	ViewData["Title"] = "Book list";
}

<div class="text-center">
	<h1 class="display-4">Welcome to the store</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
